// Paleta de Cores
$primary-color: #6a11cb;
$secondary-color: #2575fc;
$dark-color: #1a1a1a;
$light-color: #f4f4f4;
$text-color: #333;

// Fontes
$font-family: 'Helvetica', 'Arial', sans-serif;

// Breakpoints para responsividade
$breakpoint-sm: 576px;
$breakpoint-md: 768px;